
.addButton{
    position: fixed;
    left: 0px;
    bottom: 5%;
    margin-left: 5%;
    background-color: #4E9F3D;
    border-radius: 50%;
    border-color: #4d9f3d00;
    height: 2rem;
    width: 2rem;
    scale: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addButton:hover{
    background-color: #38742c;
}
.active{
    background-color:#3da752a9 ;
    rotate: 45deg;
}

.inactive{
    motion-rotation: 0deg;
    background-color: #4E9F3D;
}