html {
  .hidden {
    visibility: hidden;
  }
  .visible {
    visibility: visible;
  }
}

#uploadBar {
    background-color: #1E5128;
    position: fixed;
    display: grid;
    justify-items: center;
    width: 100%;
    bottom: 0px;
    padding: calc(5% + 5vh) 0 ;

    input{
        font-family:Helvetica, Arial, sans-serif
    }
}
