.cards {
  margin: 2% 5%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  #instruction {
    opacity: 50%;
    display: none;
  }

}
